<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scape=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_version | relative_url }}">
  </head>

  <body>
    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        
    </header>
    
    <main class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </main>

    <footer class="site-footer container">
      <data class="u-url" href="{{ "/" | relative_url }}"></data>

      <div class="wrapper">
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li class="p-name">
                {%- if site.author -%}
                  {{ site.author | escape }}
                {%- else -%}
                  {{ site.title | escape }}
                {%- endif -%}
                </li>
                {%- if site.email -%}
                <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {%- endif -%}
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <div class="social-media-list">
          {%- if site.flickr_username -%}<a href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#flickr' | relative_url }}"></use></svg></a>{%- endif -%}
          {%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>{%- endif -%}
          {%- if site.instagram_username -%}<a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg></a>{%- endif -%}
          {%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a>{%- endif -%}
          {%- if site.twitter_username -%}<a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>{%- endif -%}
          {%- if site.youtube_username -%}<a href="https://youtube.com/{{ site.youtube_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a>{%- endif -%}
  {%- if site.rss -%}<a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a>{%- endif -%}
            </div>
          </div>

          <div class="footer-col footer-col-3">
            &nbsp;
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
